.Sidebar-Main{
    /* width: 320px; */
    width: 23%;
    height: 100vh;
    background-color: var(--base);
    justify-content: flex-start;
    padding: 0.6em;
}

.Sidebar-Header{
    width: 100%;
    background-color: var(--secondary);
    padding: 0.2em;
    position: relative;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em;
    justify-content: space-between;
    color: var(--white);
}

.Sidebar-Logo{
    font-size: 2em;
    font-weight: bold;
    user-select: none;
    align-items: flex-end;
    gap: 0.2em;
}

.Sidebar-Logo p{
    line-height: 32px;
}

.Sidebar-ThemeToggle{
    cursor: pointer;
}

.Sidebar-NavLinks{
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0.8em;
    padding-top: 2em;
    justify-content: flex-start;
    user-select: none;
}

.Sidebar-NavLinks a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.1em;
    background-color: var(--greyDark);
    padding: 0.5em;
    width: 100%;
    border-radius: 0.4em;
    justify-content: flex-start;
}

.Sidebar-NavLinks a.active{
    background-color: var(--white);
    color: var(--secondary);
    font-weight: bold;
}

.Sidebar-Footer{
    background-color: var(--secondary);
    width: 100%;
    padding: 0.5em;
    padding-bottom: 0.7em;
    border-radius: 0 0 0.5em 0.5em;
}

.Sidebar-FooterHolder{
    justify-content: space-between;
    background-color: var(--greyDark);
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
}

.Sidebar-Profile{
    justify-content: flex-start;
    color: var(--white);
    user-select: none;
}

.Sidebar-ProfileImg{
    padding: 0.5em;
    border-radius: 100%;
    background-color: var(--grey);
}

.Sidebar-Avatar{
    width: 46px;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: cover;
}

.Sidebar-ProfileInfo{
    font-size: 0.8em;
    letter-spacing: 1.5px;
}

.Sidebar-Logout{
    background-color: var(--secondary);
    padding: 0.4em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.Sidebar-Logout:hover{
    background-color: red;
}