.Login-Main{
    padding: 1.5em 2em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.Login-Container{
    width: 100%;
    height: 100%;
}

.Login-Title{
    font-size: 1.3em;
    color: var(--text);
    gap: 6em;
    margin-bottom: 2em;
}

.Login-Title2{
    font-size: 1.3em;
    color: var(--text);
    gap: 6em;
    margin-bottom: 2em;
}

.Login-Title h1 span,
.Login-Title2 h1 span{
    color: var(--primary);
}

.Login-Form{
    background-color: var(--base);
    width: fit-content;
    margin: 0 auto;
    border-radius: 0.4em;
    padding: 2em 0;
}

.Login-Form form{
    padding: 0 2em;
    border-radius: 0.4em;
}

.Login-Alert{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 0.2em 1em;
    border-radius: 0.4em;
}

.Login-InputHolder{
    align-items: flex-start;
}

.Login-Input{
    /* background-color: lime; */
    padding: 0.4em 0.5em;
    border-radius: 0.3em;
    border: 1px solid var(--grey);
}

.Login-InputHolder label{
    font-size: 0.95em;
    color: var(--text);
}

.Login-Input input{
    background-color: inherit;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    min-width: 18em;
    font-size: 1em;
}
/* 
.Login-Input input:focus, .Login-Input input:active {
    background: transparent;
} */

.Login-ForgotPass{
    align-self: flex-end;
    padding: 0.2em 0;
}

.Login-ForgotPass a{
    text-decoration: none;
    color: var(--primary);
}

.Login-Submit{
    background-color: var(--primary);
    border:none;
    outline: none;
    border-radius: 0.3em;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    color: var(--white);
    cursor: pointer;
}

.Login-toSignup{
    color: var(--text);
    font-size: 1em;
}

.Login-toSignup a{
    text-decoration: none;
    color: var(--primary);
}

@media (max-width: 750px){
    .Login-Main{
        padding: 1em;
    }

    .Login-Form{
        padding: 2em 0;
    }

    .Login-Form form{
        padding: 0;
        padding: 4em 0;
    }

    .Login-Input input{
        width: 5em;
    }

    .Login-Title,
    .Login-Title2{
        font-size: 1em;
    }
}