.Landing-Main{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 1.5em 2em;
}

.Landing-Body{
    position: relative;
    height: 100%;
    justify-content: space-around;
    z-index: 1;
}

.Landing-Intro{
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    color: var(--text);
    user-select: none;
}

.Landing-Intro h1 span{
    color: var(--primary);
    font-size: 1.3em;
}

.Landing-Intro p{
    text-align: left;
}

.Landing-Vector{
    position: absolute;
    top: 16em;
    left: 2em;
}

.Landing-Start{
    align-self: flex-end;
    gap: 2em;
    padding: 2em;
    margin-right: 11em;
    border-radius: 0.4em;
    background-color: var(--base);
    color: var(--text);
    user-select: none;
}

.Landing-Btn{
    padding: 0.8em 1em;
    border-radius: 0.4em;
    cursor: pointer;
    text-align: center;
    color: var(--text);
    /* background-color: var(--secondary); */
    border: 1px solid var(--secondary);
    transition: 0.3s ease-in-out;
}

.Landing-Btn:hover{
    color: var(--white);
    background-color: var(--secondary);
}

.Landing-Btn h3{
    letter-spacing: 1.5px;
    font-size: 0.9em;
}

.Landing-Btn p{
    font-size: 0.8em;
    opacity: 0.8;
}

.Landing-Footer{
    color: var(--white);
    user-select: none;
}

@media (max-width: 750px){
    .Landing-Main{
        padding: 1em;
    }

    .Landing-Body{
        justify-content: flex-start;
        margin-top: 1em;
    }

    .Landing-Intro p{
        background-color: var(--greyDark);
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
        color: var(--white);
    }

    .Landing-Vector{
        display: none;
    }

    .Landing-Start{
        margin-right: 0;
        /* background-color: red; */
        padding: 1em;
        align-self: center;
    }

    .Landing-Footer{
        margin-top: 5em;
        background-color: var(--greyDark);
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
    }
}

@media (min-width:751px) and (max-width: 1000px){
    .Landing-Intro p{
        background-color: var(--greyDark);
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
        color: var(--white);
    }
    
    .Landing-Footer{
        margin-top: 5em;
        background-color: var(--greyDark);
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
    }
}