.CourseInfo-Main,
.SubjectInfo-Main,
.InstituteInfo-Main{
    width: 100%;
    height: 100%;
    position: relative;
}

.InstituteInfo-Header{
    background-color: var(--primaryLite);
    margin: 1em;
    margin-top: 2em;
    margin-left: 0.5em;
    padding: 1em;
    border-radius: 0.4em;
    justify-content: flex-start;
}

.InstituteInfo-Icon{
    background-color: var(--secondary);
    width: fit-content;
    padding: 2em;
    border-radius: 100%;
}

.InstituteInfo-HeadInfo{
    /* background-color: blue; */
    width: 100%;
}

.InstituteInfo-HeadInfo{
    width: 100%;
}

.InstituteInfo-Title{
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

/* .InstituteInfo-Header h1{
    font-size: 2.5em;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    text-align: center;
} */

.InstituteInfo-Chips{
    font-size: 0.9em;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.InstituteInfo-Chip{
    background-color: var(--primaryLite);
    padding: 0.3em;
    border-radius: 0.3em;
}

.InstituteInfo-SubHeader{
    justify-content: space-between;
    margin: 1em;
    margin-left: 0.5em;
}

.InstituteInfo-Create{
    text-decoration: none;
    background-color: var(--primary);
    padding: 0.4em 0.5em;
    border-radius: 0.2em;
    color: var(--white);
    cursor: pointer;
}

.InstituteInfo-CourseList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.InstituteInfo-CourseCard{
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.InstituteInfo-CourseCard:hover{
    scale: 1.025;
    /* box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.5); */
}

.SubjectInfo-TableContainer{
    width: 100%;
    padding: 0 1em;
    padding-left: 0.5em;
    padding-bottom: 3em;
}

.SubjectInfo-Table{
    width: 100%;
    border-collapse: collapse;
    /* background-color: var(--primaryLite); */
}

.SubjectInfo-Table thead{
    background-color: var(--greyLite);
    border-radius: 0.3em;
}

.SubjectInfo-Table thead th{
    border-right: 1px solid var(--white);
    padding: 0.1em 0.5em;
}


.SubjectInfo-Table thead th:first-child{
    border-radius: 0.3em 0 0 0.3em;
}

.SubjectInfo-Table thead th:last-child{
    border-right: none;
    border-radius: 0 0.3em 0.3em 0;
}

.SubjectInfo-TableRow{
    border-bottom: 1px solid var(--greyLite);
    background-color: var(--base);
}

.SubjectInfo-TableRow td{
    height: 2.830em;
    padding: 0.4em 1em;
    text-align: center;
}

.SubjectInfo-TableRow td:first-child{
    overflow: hidden;
    width: 24em;
}

.SubjectInfo-TableRow:last-child{
    border-bottom: 2em solid var(--base);
}

.SubjectInfo-TableRow td a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}