.NewSubject-Main{
    width: 100%;
    height: 100%;
    position: relative;
}

.NewSubject-Container{
    margin-top: 4em;
    justify-content: space-around;
}

.NewSubject-Form{
    align-items: flex-start;
}