.AdminDash-Main{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.AdminDash-Cards{
    width: 100%;
    padding: 1em 0;
}

.AdminDash-Card{
    background-color: var(--primaryLite);
    color: var(--secondary);
    padding: 0.8em 1.2em;
    min-width: 12em;
    border-radius: 0.4em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

[data-theme="dark"] .AdminDash-Card{
    color: var(--primary) !important;
}

.AdminDash-Card:hover{
    background-color: var(--secondary) !important;
    color: var(--white) !important;
    /* outline: 1px solid var(--primary); */
    /* box-shadow: var(--primary) 0px 1px 15px 0px; */
}

.AdminDash-Controler{
    width: 100%;
    /* height: 100%; */
    background-color: var(--greyLite);
    border-radius: 0.4em;
    padding: 1em;
    align-items: flex-start;
}

.AdminDash-Controler a{
    text-decoration: none;
    color: var(--text);
}

.AdminDash-Control{
    background-color: var(--primaryLite);
    padding: 1em;
    border-radius: 0.4em;
    cursor: pointer;
    min-width: 20em;
    transition: 0.3s ease-in-out;
}

.AdminDash-Control:hover{
    background-color: var(--primary);
    color: var(--white);
}