.AdminDash-Main{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: red; */
}

.AdminDash-Header{
    justify-content: flex-start;
}

.AdminDash-Cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 1em 0;
}

.AdminDash-Card{
    background-color: var(--primaryLite);
    color: var(--secondary);
    padding: 0.8em 1.2em;
    min-width: 12em;
    border-radius: 0.4em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

[data-theme="dark"] .AdminDash-Card{
    color: var(--primary) !important;
}

.AdminDash-Card:hover{
    background-color: var(--secondary) !important;
    color: var(--white) !important;
    /* outline: 1px solid var(--primary); */
    /* box-shadow: var(--primary) 0px 1px 15px 0px; */
}

.AdminDash-controller{
    width: 100%;
    /* height: 100%; */
    /* background-color: var(--greyLite); */
    border-radius: 0.4em;
    padding: 1em 0;
    align-items: flex-start;
}

.AdminDash-controlList{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding-right: 1em;
}

.AdminDash-controlList a{
    text-decoration: none;
    color: var(--text);
}

.AdminDash-Control{
    background-color: var(--primaryLite);
    padding: 1em;
    border-radius: 0.4em;
    cursor: pointer;
    min-width: 20em;
    transition: 0.3s ease-in-out;
}

.AdminDash-Control:hover{
    background-color: var(--primary);
    color: var(--white);
}

@media (max-width: 750px){
    .AdminDash-Header h1{
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    .AdminDash-Cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .AdminDash-Card{
       min-width: 0; 
    }

    .AdminDash-Card h2{
        font-size: 1.3em;
    }
    
    .AdminDash-Card h3{
        font-size: 1.5em;
    }
    
    .AdminDash-Card p{
        font-size: 0.8em;
        white-space: nowrap;
    }

    .AdminDash-controlList{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}