:root{
    --primary: #2d65ce;
    --secondary: #00318d;
    --base: #FAFAFA;
    --baseLite: rgba(250, 250, 250, 0.65);
    --baseAlt: #0F0F0F;
    --white: #FAFAFA;
    --black: #0F0F0F;
    --text: #000;
    --textAlt: #FFF;
    --grey: #808080;
    --greyLite: rgba(200, 200, 200, 0.5);
    --greyDark: rgba(26, 26, 26, 0.5);
    --greyDarkLite: rgba(26, 26, 26, 0.2);
    --primaryLite: rgba(45, 101, 206, 0.15);
    --green: rgb(0, 180, 0);
    --red: rgb(225, 0, 0);
    --yellow: rgba(255, 217, 0, 0.5);
}

[data-theme="dark"]{
  --primary: #2d65ce;
  --secondary: #00318d;
  --base: #0F0F0F;
  --baseLite: rgba(15, 15, 15, 0.65);
  --baseAlt: #FAFAFA;
  --white: #FAFAFA;
  --black: #0F0F0F;
  --text: #FFF;
  --textAlt: #000;
  --grey: #808080;
  --greyLite: rgba(40, 40, 40, 0.5);
  --greyDark: rgba(26, 26, 26, 0.5);
  --greyDarkLite: rgba(26, 26, 26, 0.2);
  --primaryLite: rgba(45, 101, 206, 0.15);
  --green: rgb(0, 180, 0);
  --red: rgb(225, 0, 0);
  --yellow: rgba(255, 217, 0, 0.5);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,body{
  height: 100%;
  background-color: var(--base);
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  flex-direction: column;
}

.gap{
  gap: 1em;
}

.gap05{
  gap: 0.5em;
}

.gap2{
  gap: 2em;
}

.Content-Main{
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
}


.MobileHam-Main{
  display: none;
}

.Outlet-Main{
  padding: 0.6em;
  color: var(--text);
  width: 77%;
  overflow: auto;
}

.Outlet-Main.fullWidth{
  width: 100% !important;
}

.BackropModal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
  
.Logout-Card{
  background-color: var(--white);
  justify-content: space-evenly;
  padding: 1em 2em;
  border-radius: 0.4em;
  min-height: 10em;
  gap: 1em;
  z-index: 4;
  letter-spacing: 1.5px;
}

.Logout-Buttons{
  gap: 3em;
}

.Logout-Buttons button{
  background-color: var(--primaryLite);
  border: none;
  outline: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.Logout-Buttons .logout{
  background-color: var(--red);
  color: var(--white);
  transition: 0.2s ease-in-out;
}

.Logout-Buttons .logout:hover{
  background-color: var(--primaryLite);
  color: var(--red);
}

.Manage-Delete{
  background-color: var(--base);
  color: var(--text);
  position: relative;
  width: 50%;
  height: 50%;
  border-radius: 0.4em;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5em;
}

.Manage-Header{
  margin-bottom: 2em;
  width: 100%;
  justify-content: space-between;
}

.Manage-Close{
  position: absolute;
  top: 0.6em;
  right: 0.8em;
  cursor: pointer;
}

.Manage-DeleteBtn{
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--red);
  background-color: var(--primaryLite);
  width: fit-content;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.Manage-Form{
  /* align-items: flex-start; */
  margin-top: 2em;
  width: 100%;
}

.Manage-DeleteBtn:hover{
  color: var(--white);
  background-color: var(--red);
}

@media (max-width: 750px){
  .MobileHam-Main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .Outlet-Main{
    padding: 1em !important;
  }

  .Logout-Card{
    width: 90%;
  }

  .Logout-Card h3{
    font-size: 1em;
    white-space: nowrap;
  }

  .Manage-Delete{
    width: 90%;
  }

  .Manage-Delete h4{
    font-size: 0.95em;
  }

  .Manage-DeleteBtn{
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 0 !important;
  }

  .Toastify__toast-container{
    transform: scale(0.85) !important;
    margin-bottom: 3em !important;
  }
}


/* Disable blue button click highlight */
input, button, a, div {
    -webkit-tap-highlight-color: transparent;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Remove White bg from input auto-fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text) !important;
}

/* Spin Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}