:root{
    --primary: #2d65ce;
    --secondary: rgb(17, 63, 160);
    --base: #FAFAFA;
    --baseAlt: rgba(250, 250, 250, 0.65);
    --white: #FAFAFA;
    --black: #0F0F0F;
    --text: #000;
    --textAlt: #FFF;
    --grey: #808080;
    --greyDark: rgba(26, 26, 26, 0.3);
}

[data-theme="dark"]{
    --primary: #2d65ce;
    --secondary: rgb(17, 63, 160);
    --base: #0F0F0F;
    --baseAlt: rgba(15, 15, 15, 0.65);
    --white: #FAFAFA;
    --black: #0F0F0F;
    --text: #FFF;
    --textAlt: #000;
    --grey: #808080;
    --greyDark: rgba(26, 26, 26, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--base);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    flex-direction: column;
}

.gap{
    gap: 1em;
}

.gap05{
    gap: 0.5em;
}

.gap2{
    gap: 2em;
}

/* Disable blue button click highlight */
input, button, a, div {
    -webkit-tap-highlight-color: transparent;
}