.NavRoute-Main{
    width: 100%;
    /* background-color: grey; */
    justify-content: flex-start;
}

.NavRoute-Main a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    font-size: 0.9em;
    gap: 0.1em;
    border-radius: 0.3em;
    padding: 0 0.3em;
    letter-spacing: 1px;
}

.NavRoute-Main a:last-child{
    color: var(--secondary);
    font-weight: bold;
    background-color: var(--primaryLite);
}


@media (max-width: 750px){
    .NavRoute-Main{
        display: none;
    }
  }