.FileUpload-Main{
    width: 100%;
    height: 100%;
    position: relative;
}

.FileUpload-Main h1{
    padding: 0.4em 0;
}

.FileUpload-Vector{
    position: absolute;
    top: 2em;
    right: 0;
    z-index: -1;
}

.FileUpload-Form{
    padding: 1em;
}

.FileUpload-Row{
    justify-content: flex-start;
    margin-bottom: 1em;
}

.FileUpload-Row.alignBottom{
    align-items: flex-end;
}

.FileUpload-InputHolder{
    align-items: flex-start;
}

.FileUpload-Input{
    padding: 0.4em 0.5em;
    border-radius: 0.3em;
    border: 1px solid var(--grey);
}

.FileUpload-InputHolder label{
    font-size: 0.95em;
    color: var(--text);
}

.FileUpload-Input input{
    background-color: inherit;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    min-width: 18em;
    font-size: 1em;
}

.FileUpload-Input .SelectTag-Main{
    background-color: inherit;
    color: var(--text);
    background: none;
    border: none;
    outline: none;
    min-width: 18em;
    font-size: 1em;
}

.FileUpload-FilePicker{
    justify-content: space-around;
    background-color: var(--primaryLite);
    color: var(--text);
    /* background: none; */
    border: none;
    outline: none;
    min-width: 21.2em;
    font-size: 1em;
    padding: 0.35em 0.5em;
    border-radius: 0.3em;
    border: 1px solid var(--grey);
    cursor: pointer;
}

.FileUpload-NewFiles{
    background-color: var(--primaryLite);
    padding: 0.15em 0.3em;
    border-radius: 0.3em;
    transition: 0.2s ease-in-out;
}

.FileUpload-NewFiles:hover{
    background-color: var(--primary);
    color: var(--white);
}

.FileUpload-Submit{
    min-width: 21.2em;
    font-size: 1em;
    border-radius: 0.25em;
    padding: 0.44em 0.5em;
    color: var(--white);
    cursor: pointer;
}

.FileUpload-FileListContainer{
    padding: 0 3em;
    padding-bottom: 1em;
}

.FileUpload-FileList{
    /* min-width: 44.4em; */
    width: 100%;
    padding: 0.2em 1em;
    border-radius: 0.4em;
    /* margin-left: 1em; */
}

.FileUpload-FileList thead{
    background-color: var(--greyLite);
}

.FileUpload-FileList thead th{
    border-right: 1px solid var(--grey);
    padding: 0.1em 0.5em;
}

.FileUpload-FileList thead th:last-child{
    border-right: none;
}

.FileUpload-TableRow{
    border-bottom: 1px solid var(--greyLite);
    background-color: var(--base);
}

.FileUpload-TableRow td{
    height: 2.830em;
    padding: 0.4em 1em;
    text-align: center;
}

.FileUpload-TableRow td:first-child{
    overflow: hidden;
    width: 35em;
}

.FileUpload-TableRow:last-child{
    border-bottom: 2em solid var(--base);
}